$width:28px !default;//【默认变量】
body{
  width:$width;
}
$width:1px;//全局赋值覆盖默认值【普通变量】
div{
  $width:10px;//局部赋值只在局部覆盖默认值【局部变量】
  width:$width;
}
span{
  width:$width;//不受上一个标签的局部变量影响，使用全局变量或默认值
}
b{
  width:$width;
}//不能合并属性相同项

/*
$:声明变量符；
$width:变量名
23px:变量值
!default:默认值
调用优先级：局部变量>全局变量>默认变量
创建变量的必要性：
    1该值至少重复出现了两次；
    2该值至少可能会被更新一次；
    3该值所有的表现都与变量有关（非巧合）。
*/
